<?php if (!defined('BASEPATH')) {
    exit('No direct script access allowed');
}
return array(
    'components' => array(
        'db' => array(
            'connectionString' => 'mysql:host={{ getenv "LIME_DB_HOST" }};port={{ getenv "LIME_DB_PORT" "3306" }};dbname={{ getenv "LIME_DB_DATABASE" "limesurvey" }};',
            'emulatePrepare' => true,
            'username' => '{{ getenv "LIME_DB_USERNAME" }}',
            'password' => '{{ getenv "LIME_DB_PASSWORD" }}',
            'charset' => '{{ getenv "LIME_DB_CHARSET" "utf8mb4" }}',
            'tablePrefix' => 'lime_',
        ),

        'urlManager' => array(
            'urlFormat' => 'get',
            'rules' => array(
                // You can add your own rules here
            ),
            'showScriptName' => true,
        ),

    ),
    'config'=>array(
        'debug'=>0,
        'debugsql'=>0,
    )
);
