<?php if (!defined('BASEPATH')) exit('No direct script access allowed');

$config = array();
$config['siteadminemail']     = '{{ getenv "LIME_ADMIN_EMAIL" }}'; 
$config['siteadminbounce']    = '{{ getenv "LIME_ADMIN_EMAIL" }}'; 
$config['siteadminname']      = '{{ getenv "LIME_ADMIN_USER" }}'; 

$config['emailmethod']        = 'smtp';
$config['protocol'] = $config['emailmethod'];

$config['emailsmtphost']      = '{{ getenv "LIME_MAILER_URL" "mx.example.com" }}:{{ getenv "LIME_MAILER_PORT" "465" }}';

$config['emailsmtpuser']      = '{{ getenv "LIME_MAILER_USER" }}'; 
$config['emailsmtppassword']  = '{{ getenv "LIME_MAILER_PASSWORD" }}'; 
$config['emailsmtpssl']       = '{{ getenv "LIME_MAILER_ENCRYPTION" "ssl" }}'; 

$config['emailsmtpdebug']     = 0;

$config['maxemails']          = 50; 

$config['emailcharset']       = "utf-8";

return $config; 
