<?php

$serverId = 0;
$ldap_server[$serverId]['server'] = '{{ getenv "LIME_LDAP_QUERY_SERVER" }}';
$ldap_server[$serverId]['port'] = '{{ getenv "LIME_LDAP_QUERY_PORT" "389" }}';
$ldap_server[$serverId]['protoversion'] = '{{ getenv "LIME_LDAP_QUERY_PROTOVERSION" "ldapv2" }}';
$ldap_server[$serverId]['encrypt'] = '{{ getenv "LIME_LDAP_QUERY_ENCRYPTION" "ldap" }}';
$ldap_server[$serverId]['referrals'] = '{{ getenv "LIME_LDAP_QUERY_REFERALS" "false" }}';
$ldap_server[$serverId]['binddn'] = '{{ getenv "LIME_LDAP_QUERY_BINDDN" }}';
$ldap_server[$serverId]['bindpw'] = '{{ getenv "LIME_LDAP_QUERY_BINDPW" }}';

{{- range $index, $element := ((getenv "LIME_LDAP_QUERY_GROUPLIST") | strings.Split ",") }}
{{- $element = $element | strings.TrimSpace }}

$queryId = {{ $index }};
$ldap_queries[$queryId]['ldapServerId'] = 0;
$ldap_queries[$queryId]['name'] = '{{ getenv ((print "LIME_LDAP_QUERY_" $element "_NAME") | strings.ToUpper) ($element | strings.ToUpper) }}';
$ldap_queries[$queryId]['userbase'] = '{{ getenv ((print "LIME_LDAP_QUERY_" $element "_USERBASE") | strings.ToUpper) }}';
$ldap_queries[$queryId]['userfilter'] = '{{ getenv ((print "LIME_LDAP_QUERY_" $element "_USERFILTER") | strings.ToUpper) "(&(objectClass=inetOrgPerson))" }}';
$ldap_queries[$queryId]['userscope'] = '{{ getenv ((print "LIME_LDAP_QUERY_" $element "_USERSCOPE") | strings.ToUpper) "sub" }}';
$ldap_queries[$queryId]['firstname_attr'] = '{{ getenv ((print "LIME_LDAP_QUERY_" $element "_FIRSTNAME_ATTR") | strings.ToUpper) "givenname" }}';
$ldap_queries[$queryId]['lastname_attr'] = '{{ getenv ((print "LIME_LDAP_QUERY_" $element "_LASTNAME_ATTR") | strings.ToUpper) "sn" }}';
$ldap_queries[$queryId]['email_attr'] = '{{ getenv ((print "LIME_LDAP_QUERY_" $element "_EMAIL_ATTR") | strings.ToUpper) "mail" }}';
$ldap_queries[$queryId]['token_attr'] = '';
$ldap_queries[$queryId]['language'] = 'en';
$ldap_queries[$queryId]['attr1'] = '';
$ldap_queries[$queryId]['attr2'] = '';
{{- end }}

return array('ldap_server' => $ldap_server, 'ldap_queries' => $ldap_queries);
